<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="container">
      <hr/>
      <div class="footer-col-wrapper">  
        <div class="social-links">
            <ul style="list-style-type: none">
            <li style="display: inline; padding-left: 2em;">kazbo contact info: </li>
            {% if site.twitter_username %}
            <li style="display: inline; padding-left: 2em;">
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter"></i> twitter:kazbo
              </a>
            </li>
          {% endif %}
          {% if site.github_username %}
          <li style="display: inline; padding-left: 2em;">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i> github:kinoshita-lab
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li style="display: inline; padding-left: 2em;">
              <a href="https://instagram.com/{{ site.instagram_username }}">
              <i class="fa fa-instagram"></i> instagram:kazbo
              </a>
            </li>
          {% endif %}
          {% if site.email %}
          <li style="display: inline; padding-left: 2em;">
              <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope"></i> mail
              </a>
            </li>
          {% endif %}
        </ul>
        </div>
      </div>
  
    </div>
  
  </footer>