<header>
    <div class="container">
        <a class="page-title" href="{{site.baseurl}}/">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <div class="trigger">
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</header>